.Interest {
	color: white;
	font-size: 4em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	perspective: 500px;
	display: none;
}

.L {
	position: absolute;
	top: 26%;
	left: calc(50% - 100px);

	animation: sayL 1.5s;
}

.L.active {

	animation: sayL 1.5s;
}

@keyframes sayL {
	0% {
		transform: rotateY(-90deg);
	}

	15% {
		transform: rotateY(0deg);
	}
}